@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

$background-colour: #F4F4EE;

@mixin flex($flex: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $flex;
    justify-content: $jc;
    align-items: $ai;
}

// GENERAL

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFCF9;
    * {
        font-family: "Forum", serif;
        font-weight: 400;
        font-style: normal;
    }
    a {
        text-decoration: none;
        color: #000;
    }
    svg {
        cursor: pointer;
    }
    h2 {
        font-size: 2rem;
    }
}

// TAGLINE

#tag {
    // display: none;
    text-align: center;
    background-color: #8B9C67;
    p {
        margin: 0;
        padding: .5rem;
        color: #fff;
    }
    a {
        color: #fff;
        text-decoration: underline;
    }
}

// NAVIGATION

nav {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    height: 3rem;
    padding: 0rem 2rem;
    .nav-container {
        // border: 1px solid blue;
        width: 100%;
        max-width: 1660px !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    svg {
        padding-left: .5rem;
    }
}

// HERO SECTION

.hero {
    // border: 1px solid black;
    @include flex;
    .hero-container {
        // border: 1px solid red;
        @include flex(column);
        padding: 2rem;
        text-align: center;
        h1 {
        // border: 1px solid blue;
        margin: 0;
        padding: 0;
        font-size: 5rem;
        }
        p {
            margin: 1rem 0 2rem 0;
            // border: 1px solid red;
        }
    }
}

// PRODUCT SHOWCASE

.product-showcase {
    background-image: url("/assets/hero.png");
    background-color: #cccccc; 
    height: 310px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

// ABOUT SECTION

.about {
    padding: 2rem;
    @include flex(column);
    span {
        border: 1px solid black;
        width: 20px;
    }
    p {
        padding: 1rem 0;
        text-align: center;
    }
}

// SALES CARDS

.cards {
    // border: 1px solid black;
    background-color: $background-colour;
    height: 90vh;
    @include flex(column);
    padding: 1rem 0 3rem 0;
    .cards-container {
        // border: 1px solid blue;
        @include flex(column, space-around);
        height: 100%;
        .card {
            // border: 1px solid red;
            @include flex(column);
            width: 60%;
            img {
                max-width: 40px;
            }
            span {
                border: 1px solid rgba(32, 32, 32, 0.7);
                width: 25px;
                margin: .5rem 0;
            }p {
                margin: .5rem 0;
                text-align: center;
            }
        }
    }
}

// CUSTOMER FAVOURITE

.favourite {
    // border: 1px solid black;
    // height: 100vh;
    @include flex(column, center);
    text-align: center;
    padding: 2rem;
    .favourite-description {
        margin: 2rem 0 3rem 0;
    }
    .favourite-container-cards {
        // border: 1px solid red;
        height: 100%;
        @include flex(column, space-around);
        .favourite-card {
            // border: 1px solid blue;
            margin-bottom: 2rem;
            img {
                max-height: 350px;
                margin-bottom: 1rem;
            }
        }
    }
}

// REVIEW SECTION

.review {
    .review-left {
        @include flex(column, space-between);
        height: 100%;
        .review-text {
            // border: 1px solid red;
            @include flex(column, center);
            text-align: center;
            padding: 2rem;
            p:first-child {
                font-size: 3rem;
                margin: 0;
            }
            span {
                border: 1px solid black;
                width: 2rem;
                margin: 1rem 0;
            }
        }
        .review-links {
            // border: 1px solid red;
            text-align: center;
            p:first-child {
                font-size: 1.1rem;
            }
            p {
                margin: .5rem;
            }
            img {
                max-width: 20px;
            }
        }
    }
    .review-right {
        display: none;
    }
}

// ARTCILE SECTION

.article {
    // @include flex(column, center);
    // border: 1px solid black;
    padding: 2rem;
    h2 {
        margin: 1rem 0 .5rem 0;
    }
    p:first-of-type {
        font-size: .9rem;
        margin-bottom: 2.5rem
    }
    .article-container {
        @include flex(column, center);
        .article-cards {
            // border: 1px solid blue;
            margin-bottom: 2rem;
            width: 300px;
            text-align: left;
            p:first-of-type {
                font-size: 1.5rem;
                margin: .5rem 0;
            }
            p {
                // border: 1px solid red;
                margin: 0;
                font-size: 0.8rem;
            }
            img {
                width: 100%;
                max-width: 300px;
            }
        }
    }
}

// FOOTER SECTION

footer {
    // border: 1px solid black;
    padding: 2rem;
    background-color: $background-colour;
    .footer-logo {
        // border: 1px solid red;
        margin-bottom: 1rem;
        h2 {
            margin: 1rem 0;
        }
    }
    .footer-links-container {
        // border: 1px solid blue;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .footer-links-left,
        .footer-links-right {
            // border: 1px solid green;
            @include flex(row, center, top);
            .footer-links-section {
                // border: 1px solid black;
                height: 100%;
                width: 50%;
                p {
                    font-size: 1.3rem;
                    margin: 1rem 0;
                }
                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }
    .footer-bottom {
        .language,
        .social-media {
            display: none;
        }
    }
}

// Responsive Design

@media only screen and (min-width: 768px) {
    .hero-container {
        padding: 4rem !important;
        p {
            max-width: 500px;
        }
    }

    .product-showcase {
        height: 500px;
    }

    .about,
    .review {
        padding: 4rem;
    }
}